SpaceTrader/build/classes
SpaceTrader/nbproject/private/retriever

SpaceTrader/nbproject/private/private.xml

*.class
/SpaceTrader/build/
/SpaceTrader/dist/
/build/
/dist/
nbproject/
build.xml
manifest.mf
*.jar

*.jnlp
/SpaceTrader/nbproject/private/
