.anchor-pane {
    -fx-background-image: url(paper.jpg);
}

.label {
    -fx-font-size: 35pt;
    -fx-font-family: "Lucida Console";
    -fx-text-fill: white;
    -fx-opacity: 0.8;
}

.label-subtitle {
    -fx-font-size: 20pt;
    -fx-font-family: "Lucida Console";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-plain {
    -fx-font-size: 15pt;
    -fx-font-family: ""Lucida Console"";
    -fx-text-fill: white;
    -fx-opacity: 1;
}
.label-text {
    -fx-font-size: 12pt;
    -fx-font-family: "Helvetica";
    -fx-text-fill: white;
    -fx-opacity: 1;
}
.label-small {
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
    -fx-font-family: "Helvetica";
    -fx-text-fill: white;
    -fx-opacity: 1;
}
.text-field {
    -fx-font-size: 10pt;
    -fx-font-family: "Lucida Console";
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0.15;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #4b2c0f;

}

.tab-pane .tab:selected
{
    -fx-background-color: whitesmoke;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: whitesmoke;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #4b2c0f;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}

.list-cell:odd {
    -fx-cell-hover-color: #0093ff;
    -fx-background-color: even;
}

.list-cell:filled:hover {
    -fx-cell-hover-color: #0093ff;
    -fx-text-fill: white;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #4b2c0f;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: whitesmoke;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #4b2c0f;
}
